<app-nav-bar></app-nav-bar>

<div class="jumbotron text-center">
  <h1>My Recomender System</h1>
  <p>Login Page</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
     <form action="/action_page.php">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me 
          </label>
        </div>
        <button routerLink="/dashboard " type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>