<app-nav-bar></app-nav-bar>

<div class="jumbotron text-center">
  <h1>Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let person of fetchedReceipe">
      <div class="card">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{person[0]}}</h4>
          <p class="card-text">{{person[1]}}</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

